<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeImage.Standard" version="4.3.8" targetFramework="net48" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net40" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net40" />
  <package id="Structures.TriangleNet" version="0.0.3" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
</packages>