<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Binaries" version="3.2.0" targetFramework="net4-client" />
  <package id="MonoGame.Framework.DesktopGL" version="3.8.0.1641" targetFramework="net40" requireReinstallation="true" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net40" />
  <package id="SharpDX" version="4.2.0" targetFramework="net40" requireReinstallation="true" />
</packages>